
body{
    margin: 0;
    padding: 0;
    background: whitesmoke;
}

    /*tähän päättyy ylin yläpalkki*/

/* Mikä tämä on??? */
#asettelu {
    width: auto;
    margin: 0 auto;
    border: 0px solid red;
} 
/*Tästä alkaa ylin yläpalkki logolla */  
nav{                              
   width: 100%;
   background: rgb(4, 184, 184);
   overflow: auto;
}

ul {
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
}

li {
    float: right;
}

 .logo img {
    content:url("../media/Arttu Korhonen.png");
    background: rgb(4, 184, 184);
    position: initial;
    margin-top: 0px;
    margin-left: 10px;
    text-align: center;
    float: left;
    /*htmllässä on img src, mutta css;sä tämä: */
    
 }

    @media screen and (max-width: 700px) {
    .logo img {
    content:url("../media/Arttu K2.png");
    position: initial;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    float: left;
    }
    }

nav a {
  width: 40px;
  display: block;
  padding:  20px 15px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: center;

}

nav a:hover {                               
    background: rgb(0, 204, 255);
    transition: 0.5s;
    text-transform: uppercase;
}

 /*   @media screen and (max-width: 600px) {
        ul, li {float: none;}
        }        
  */                                      
                               
/*Tästä alkaa alempi yläpalkki*/
ul.topnav2 {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: whitesmoke;
}

ul.topnav2 li {
float: left;
}

ul.topnav2 li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family:'Courier New', Courier, monospace;
}

ul.topnav2 li a:hover {
background-color: rgb(0, 204, 255);
}

ul.topnav2 li.right {
float: right;
}
/*
@media screen and (max-width: 600px) {
ul.topnav2 li.right, 
ul.topnav2 li {float: none;}
} 

*/
 /*Tähän päättyy alempi yläpalkki*/

 #kuva1 {
    height: 100px;
    background-image: url("../media/kalajoki2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
 

    /* tästä alkaa joustavien kolunmien kokeilu */
    #containercolumn1 {
    box-sizing: border-box;
    }

    /* Container for flexboxes */
    .row {
    display: flex;
    flex-wrap: wrap;
    }

    /* Create four equal columns */
    .column {
    flex: 33%;
    padding: 20px;
    border-radius: 3px;
    }

    @media screen and (max-width: 600px) {
    .column {
        flex: 100%;
    }
    }

    @media screen and (max-width: 600px) {
    .row {
        flex-direction: 50%;
    }
    }
/*Yhteystiedot alkaa tästä*/
#yhteystiedot {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap; 
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.yhteystietokolumni {
    width: 25%;
    padding: 20px;
    background: #770000;
}

h2 {                                /* kolumnien otsikot */
    text-align: center;
}
@media screen and (max-width: 800px) {
    .yhteystietokolumni {
        flex: 50%; background: black;
    }
}

   /* 
    #kokeilu {
        width: 140px;
        height: 100px;
        background: rgb(44, 44, 44);
        transition: width 1s, height 1s;
        color: white;
        padding: 20px;
        font-family: 'Courier New', Courier, monospace;
      }
      
      #kokeilu:hover {
        width: 3000px;
        height: 300px;
      }
    */
    