
body{
    padding: 0;
    margin-left: 300;
    margin-right: 300;
    background: whitesmoke;
}
/*Tämä pitää navbarin paikallaan, 
mutta valitettavasti myös leveimmillään
on kiinni reunoissa */
#navbarit {
    overflow: hidden;
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    margin-right: 0;
    margin-left: 0;

}
/* kun sivua kavennetaan */
@media only screen and (max-width: 1400px) {
    body {
        margin: 0;
        padding: 0;
    }
}


/*Tästä alkaa ylin yläpalkki logolla */  
nav{                              
   width: 100%;
   background: rgb(4, 184, 184);
   overflow: auto;
}

ul {
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
}

li {
    float: right;
}
/* Jutut ennen sivun kutistumista*/
 .logo img {
    content:url("../media/Arttu Korhonen.png");
    background: rgb(4, 184, 184);
    position: initial;
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;
    float: left;
    /*htmllässä on img src, mutta css;sä tämä: */
    
 }
/* Nämä tapahtuu kun sivu on kutistunut*/
    @media screen and (max-width: 700px) {
    .logo img {
    content:url("../media/Arttu K2.png");
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    float: left;
    }
    }

nav a {
  width: 10px;
  display: block;
  padding:  0px 20px;
  color: white;
  text-align: center;

}

nav a:hover {                               
    background: rgb(0, 204, 255);
    transition: 0.5s;
    text-transform: uppercase;
}
                                          
/*Tästä alkaa alempi yläpalkki*/
ul.topnav2 {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: whitesmoke;
}

ul.topnav2 li {
float: left;
}

ul.topnav2 li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family:'Courier New', Courier, monospace;
}

ul.topnav2 li a:hover {
background-color: rgb(0, 204, 255);
}

ul.topnav2 li.right {
float: right;
}

/* fa on instagram ja linkedin linkit logoineen */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

.fa-instagram {
    background:white;
    color: black;
  }

  .fa-linkedin {
    background: black;
    color: white;
  }

 /*Tähän päättyy alempi yläpalkki*/

 #kuva1 {
    height: 100px;
    background-image: url("../media/kalajoki2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 100px;
}
 

    /* tästä alkaa joustavien kolunmien kokeilu */
    #containercolumn1 {
    box-sizing: border-box;
    }

    /* Container for flexboxes */
    .row {
    display: flex;
    flex-wrap: wrap;
    }

    /* Create four equal columns */
    .column {
    flex: 33%;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    }

    @media screen and (max-width: 600px) {
    .column {
        flex: 100%;
    }
    }

    @media screen and (max-width: 600px) {
    .row {
        flex-direction: 50%;
    }
    }

    #aurinkolasikuva {
    content: url("../media/omakuva.png");
    border-radius: 50%;  
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: 10px;
    float: left;
    }

    #aklogo {
        content: url("../media/aklogokeltainen.png");
        border-radius: 50%;  
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: 10px;
        float: left;
    
    }
    #skitta {
        content: url("../media/skitta.png");
        border-radius: 50%;  
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: left;
    }

    #arturo1 {
        content: url("../media/arturo1.jpg");
        border-radius: 50%;  
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: 10px;
        float: left;
     }

/*Yhteystiedot alkaa tästä*/
#yhteystiedot {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap; 
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.yhteystietokolumni {
    width: 25%;
    padding: 20px;
    background: #770000;
}

h2 {                                /* kolumnien otsikot */
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
@media screen and (max-width: 800px) {
    .yhteystietokolumni {
        flex: 50%; background: black;
    }
}

   /* 
    #kokeilu {
        width: 140px;
        height: 100px;
        background: rgb(44, 44, 44);
        transition: width 1s, height 1s;
        color: white;
        padding: 20px;
        font-family: 'Courier New', Courier, monospace;
      }
      
      #kokeilu:hover {
        width: 3000px;
        height: 300px;
      }
    */
    
    #more {display: none;}
    #more2 {display: none;}
